/* ===== Global Styles ===== */
:root {
  --color-accent: #00c6bf;
  --color-text: #fff7d6;
  --color-black-50: rgba(0, 0, 0, 0.5);
  --color-white-50: rgba(217, 217, 217, 0.5);
  --color-button-bg: #9baada;

  --font-inter: "Inter";
  --font-orbitron: "Orbitron";
  --font-exo: "Exo";

  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  --font-size-small: 0.9375rem; /* 15px */
  --font-size-regular: 1.125rem; /* 18px */
  --font-size-medium: 1.5rem; /* 24px */
  --font-size-large: 2rem; /* 32px */
  --font-size-extra-large: 3rem; /* 48px */

  --animation-speed: 20s; /* Default speed */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-inter);
  line-height: 1.5;
  color: var(--color-text);
  background-color: black;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

button {
  padding: 12px 24px;
  font-family: var(--font-exo);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-medium);
  background-color: transparent;
  border-radius: 8px;
  border: 1px solid;
  transition: all 0.2s ease;
}

button:hover {
  transform: scale(1.05);
  box-shadow: -5px 5px 2.5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.active {
  color: #00c6bf !important ;
  text-decoration: underline #00c6bf;
  text-underline-offset: 6px;
}

/* ===== Video Background ===== */
.video-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  object-fit: cover;
  opacity: 1;
  z-index: -1;
}

/* ===== Page Wrapper ===== */
.page-wrapper {
  position: relative;
  background-color: var(--color-black-50);
}

/* ===== Header ===== */
.header {
  z-index: 1000;
  background-color: white;
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
}

.header__img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.header__logo {
  width: 70px; /* Adjust as needed */
}

.header__button {
  border-color: black;
  color: black;
  position: relative;
  transition: 100ms ease-out;
}

.header__button:hover {
  border: none;
  color: var(--color-text);
}

.header__button::before {
  content: "";
  position: absolute;
  background-color: var(--color-accent);
  border-radius: 8px;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  transition: 100ms ease-out;
  z-index: -1;
}

.header__button:hover::before {
  inset: 0;
  width: 100%;
  height: 100%;
}

/* ===== Navigation ===== */
.navbar {
  position: sticky;
  top: 0;
  background-color: black;
  padding: 0 100px;
  z-index: 10000;
}

.navbar__list {
  display: flex;
  justify-content: center;
  list-style: none;
}

.navbar__item {
  position: relative;
  padding: 24px;
}

.navbar__item:hover .navbar__label {
  color: var(--color-accent);
}

.navbar__item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 0%;
  width: 100%;
  background-color: rgba(255, 255, 255, 1);
  transition: 100ms ease-out;
  z-index: -1;
}

.navbar__item:hover::after {
  height: 100%;
}

.navbar__item::after .navbar__item:hover .navbar__label {
  color: var(--color-accent);
}

.navbar__label {
  font-family: var(--font-exo);
  font-weight: var(--font-weight-semibold);
  font-size: var(--font-size-medium);
  cursor: pointer;
  position: relative;
}

.navbar__dropdown {
  display: none;
  position: absolute;
  width: max-content;
  top: 100%;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  z-index: 100;
}

.navbar__item:hover .navbar__dropdown {
  display: block;
}

.navbar__dropdown-item {
  padding: 12px 24px;
  font-family: var(--font-inter);
  font-size: var(--font-size-regular);
  transition: all 0.2s ease;
}

.navbar__dropdown-item:hover {
  color: var(--color-accent);
  background-color: rgba(255, 255, 255, 0.1);
}

/* ===== Hero Section ===== */

.hero {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 78.2dvh;
  padding-bottom: 100px;
  z-index: 10;
}

.lan__hero {
  padding-bottom: 150px;
}

.hero__content {
  text-align: center;
}

.hero__title {
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-bold);
  margin-bottom: 48px;
  opacity: 0; /* Start invisible */
  transform: translateY(20px); /* Start slightly below */
  animation: fadeInUp 1s ease-out forwards; /* Apply animation */
  animation: growUp 1s ease-out forwards;
}

/* Define the animation */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes growUp {
  from {
    opacity: 0;
    font-size: var(--font-size-small);
  }
  to {
    opacity: 1;
    font-size: var(--font-size-extra-large);
  }
}

.hero__button {
  color: #fff7d6;
  position: relative;
  transition: 100ms ease-out;
}

.hero__button:hover {
  color: black;
}

.hero__button::before {
  content: "";
  position: absolute;
  background-color: var(--color-accent);
  border-radius: 8px;
  left: 0;
  bottom: 0;
  height: 0%;
  width: 100%;
  transition: 100ms ease-out;
  z-index: -1;
}

.hero__button:hover::before {
  height: 100%;
}

/* ===== Slider Section ===== */

.slider__container {
  background-color: white;
  padding: 150px 150px 150px 0;
  overflow: hidden;
}

.slider {
  background-color: #050b23;
  display: flex;
  align-items: center;
  width: max-content;
  padding: 48px 0;
  animation: slide var(--animation-speed) linear infinite;
}

.slide {
  width: 200px;
  height: 300px;
  margin-right: 24px;
  flex-shrink: 0;
}

.slide img {
  width: 100%;
  height: 100%;
  box-shadow: -10px 5px 10px rgb(36, 36, 36);
  object-fit: cover;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.slider:hover {
  animation-play-state: paused;
}

/* ===== Content Section ===== */
.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 48px;
  padding: 0px 150px 150px 150px;
  background-color: white;
}

.content__card {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 48px;
  background-color: #050b23;
  border-radius: 8px;
  box-shadow: -10px 10px 5px gray;
}

.content__title {
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-medium);
  text-decoration: underline;
  text-underline-offset: 4px;
}

.content__text {
  font-size: var(--font-size-regular);
  font-weight: var(--font-weight-regular);
}

/* ===== Artikle ===== */
.artikel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
  padding: 150px;
  background-color: #21355c;
}

.artikel__title {
  font-family: var(--font-exo);
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-bold);
  text-align: center;
}

.artikel__heading {
  font-family: var(--font-inter);
  font-size: var(--font-size-regular);
  font-weight: var(--font-weight-bold);
}

.artikel__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 48px;
}

.artikel__content-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
}

.artikel__content-img img {
  width: 100%;
  border-radius: 8px;
}

.artikel__content__p-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.artikel__content-p {
  font-family: var(--font-inter);
  font-size: var(--font-size-regular);
  font-weight: var(--font-weight-regular);
}

.artikel__content-reminder {
  font-family: var(--font-inter);
  font-size: var(--font-size-regular);
  font-weight: var(--font-weight-semibold);
  text-decoration: underline;
  text-underline-offset: 5px;
}

.artikel__button {
  position: relative;
  color: var(--color-text);
  border-color: var(--color-text);
  transition: 100ms ease-out;
}

.artikel__button:hover {
  color: black;
  border-color: black;
}

.artikel__button::after {
  content: "";
  position: absolute;
  background-color: var(--color-accent);
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 8px;
  transition: 100ms ease-out;
  z-index: -1;
}

.artikel__button:hover::after {
  width: 100%;
}

/* ===== Footer ===== */
.footer {
  padding: 48px 100px 0 100px;
  background-color: #050b23;
}

.footer__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 48px;
}

.footer__logo {
  width: 200px;
}

.footer__menus {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
}
.footer__menu {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-right: 10px;
}

.footer__menu-title {
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-regular);
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  list-style: none;
}

.footer__menu-item {
  cursor: pointer;
  border-bottom: 1px solid rgba(217, 217, 217, 0.5);
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-light);
}

.footer__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 48px;
}

.footer__text {
  font-size: var(--font-size-large);
}

.footer__socials {
  display: flex;
  gap: 24px;
}

.footer__social-icon {
  width: 32px;
  height: 32px;
}

.footer__copy-right {
  padding: 48px 100px 0 100px;
  width: 100%;
  text-align: center;
}

/* ===== Responsive Design ===== */
@media (max-width: 1200px) {
  .header__top,
  .navbar {
    padding: 0 50px;
  }

  .navbar__list {
    flex-wrap: wrap;
  }

  .content {
    padding: 50px;
    grid-template-columns: 1fr;
  }

  .artikel {
    padding: 50px;
  }

  .artikel__content {
    display: flex;
    flex-direction: column-reverse;
  }

  .artikel__content__p-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .footer {
    padding: 50px 50px 25px 50px;
  }

  .footer__top {
    flex-direction: column;
    align-items: center;
  }

  .footer__text {
    font-size: var(--font-size-med);
  }
}
