* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --accent: rgba(255, 117, 133, 1);
  --text: rgba(255, 255, 255, 1);
  --black-50: rgba(0, 0, 0, 0.5);
  --white-50: rgba(217, 217, 217, 0.5);
  --button-bg: rgba(145, 209, 216, 1);

  --inter: "Inter";
  --orbitron: "Orbitron";
  --exo: "Exo";

  --exo-medium-32-font-weight: 500;
  --exo-medium-32-font-size: 2em;

  --light-font-weight: 300;
  --regular-font-weight: 400;
  --medium-font-weight: 500;
  --semibold-font-weight: 600;
  --bold-font-weight: 700;

  --small-font-size: 0.9375em; /*15px*/
  --regular-font-size: 1.125em; /*18px*/
  --medium-font-size: 1.5em; /*24px*/
  --large-font-size: 2em; /*32px*/
  --extralatge-font-size: 3em; /*48px*/
}

body {
  line-height: 1.5;
}

button {
  padding: 12px 24px;
  font-family: var(--exo-medium-32-font-family);
  font-size: var(--exo-medium-32-font-size);
  font-weight: var(--exo-medium-32-font-weight);
  border-radius: 8px;
}

.video-container {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  object-fit: cover;
  opacity: 0.75;
  z-index: 1;
}

/* landing-page */

.landing-page {
  background-color: rgba(0, 0, 0, 0.5);
}

/* Header */

.top {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: var(--text);
  padding: 0px 100px; /* Ensure .top has height */
  background-color: white;
  z-index: 1000;
}

.navbar {
  position: sticky;
  top: 0;
  padding: 20px 100px;
  display: flex;
  justify-content: center;
  gap: 48px;
  color: var(--text);
  width: 100%;
  background-color: black;
  z-index: 100;
}

.nav-item {
  font-family: var(--exo);
  font-weight: var(--semibold-font-weight);
  font-size: var(--medium-font-size);
}

.hero {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding-bottom: 100px;
  justify-content: center;
  height: 84dvh;
  z-index: 10;
}

.slogan {
  display: flex;
  flex-direction: column;
  gap: 48px;
  color: var(--text);
  text-align: center;
}

.slogan p {
  font-family: var(--inter);
  font-weight: var(--bold-font-weight);
  font-size: var(--extralatge-font-size);
}

.content {
  padding: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 48px;
  overflow: hidden;
  background-color: white;
}

.content-card {
  display: flex;
  flex-direction: column;
  padding: 48px;
  gap: 24px;
  border-radius: 8px;
  color: var(--text);
  background-color: rgba(0, 0, 0, 0.9);
  box-shadow: -10px 10px 5px gray;
}

.card-title {
  width: fit-content;
  text-decoration: underline;
  text-underline-offset: 4px;
  font-family: var(--inter);
  font-weight: var(--medium-font-weight);
  font-size: var(--medium-font-size);
}

.content-card p {
  font-family: var(--inter);
  font-weight: var(--regular-font-weight);
  font-size: var(--regular-font-size);
}

.content-card button {
  padding: 12px 24px;
  font-family: var(--exo-medium-32-font-family);
  font-size: var(--exo-medium-32-font-size);
  font-weight: var(--exo-medium-32-font-weight);
  border-radius: 8px;
}

/* Footer */

footer {
  display: flex;
  flex-direction: column;
  gap: 48px;
  padding: 48px 100px;
  width: 100%;
  background-color: black;
}

.footer-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.lg-logo {
  width: 300px;
  height: auto;
}

.lg-logo img {
  width: 100%;
}

.menu-container {
  display: flex;
  justify-content: space-between;
  gap: 1em;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding-right: 1em;
  border-right: 1px solid rgba(277, 277, 277, 0.5);
}

.menu-title {
  font-family: var(--inter);
  font-weight: var(--regular-font-weight);
  font-size: var(--medium-font-size);
  color: var(--text);
}

.menu-items-container {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.menu-item {
  font-family: var(--inter);
  font-weight: var(--light-font-weight);
  font-size: var(--small-font-size);
  color: var(--text);
}

.footer-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-bottom p {
  text-align: center;
  font-size: var(--large-font-size);
  font-weight: var(--bold-font-weight);
  color: var(--text);
}

.social-media-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 48px;
}
